@media screen and (max-width:1250px){


.lanzamientos-contenedor-grid{
        .alb1{
            a{
                Img{
                    height: 200px;
                    width: 200px;
                }
            }
        }
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 220px 220px 220px 220px;
        grid-template-areas: 
        "alb1 alb2 alb3 "
        "alb4 alb5 alb6 "
        "alb7 alb8 alb9"
        "alb10 alb11 alb12";
    }

.pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb1 a img{
    height: 200px;
    width: 200px;
}
.pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb2 a img{
    height: 200px;
    width: 200px;
}
.pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb3 a img{
    height: 200px;
    width: 200px;
}
.pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb4 a img{
    height: 200px;
    width: 200px;
}
.pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb1 a img{
    height: 200px;
    width: 200px;
}
.pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb5 a img{
    height: 200px;
    width: 200px;
}
.pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb1 a img{
    height: 200px;
    width: 200px;
}
.pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb6 a img{
    height: 200px;
    width: 200px;
}
.pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb7 a img{
    height: 200px;
    width: 200px;
}
.pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb8 a img{
    height: 200px;
    width: 200px;
}
.pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb9 a img{
    height: 200px;
    width: 200px;
}
.pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb10 a img{
    height: 200px;
    width: 200px;
}
.pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb11 a img{
    height: 200px;
    width: 200px;
}
.pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb12 a img{
    height: 200px;
    width: 200px;
}
}


@media screen and (max-width:1200px){
.vivos-contenedor div div iframe {
    width: 360px;
    height: 215px;
}
}

@media screen and (max-width:1050px){

    .coleccion{
        div{
            div{
                div{
                    div{
                        margin-left: 300px;
                        }
                    }
            }
        }
    }
}


@media screen and (max-width:1000px){

    .seleccion{
        height: 120vh;
    }

    .vivos-contenedor-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 220px 220px 220px 220px 220px;
    }

    .seleccion-pestaña .seleccion-uno{
        grid-template-rows: 250px 250px 250px;

    }



.seleccion-pestaña .seleccion-uno .todos-los-tiempos div a img {
    width: 400px;
    height: 400px;
}
    

    .seleccion-pestaña .seleccion-uno  .veintitres div a img{
        width: 200px;
        height: 200px;
    }
    
    .seleccion-pestaña .seleccion-uno .veintidos div a img{
        width: 200px;
        height: 200px;
    }
    
    .seleccion-pestaña .seleccion-uno .veintiuno div a img{
        width: 200px;
        height: 200px;
    }
    
    .seleccion-pestaña .seleccion-uno .veinte div a img{
        width: 200px;
        height: 200px;
    }


        .seleccion-pestaña .decadas .dosmildiez div a img {
        width: 200px;
        height: 200px;
    }

    .seleccion-pestaña .decadas .dosmil div a img {
        width: 200px;
        height: 200px;
    }
    .seleccion-pestaña .decadas .noventas div a img {
        width: 200px;
        height: 200px;
    }
    .seleccion-pestaña .decadas .ochentas div a img {
        width: 200px;
        height: 200px;
    }
    .seleccion-pestaña .decadas .setentas div a img {
        width: 200px;
        height: 200px;
    }
    .seleccion-pestaña .decadas .sesentas div a img {
        width: 200px;
        height: 200px;
    }

.contacto-pestaña{
    div.div1c {margin-left: 300px;
        margin-right: 300px;
}
    
}


}


@media screen and (max-width:950px){
    
    .lanzamientos-contenedor-grid{
        .alb1{
            a{
                Img{
                    height: 200px;
                    width: 200px;
                }
            }
        }
    }


    .vivos-contenedor div div iframe {
        width: 330px;
        height: 185px;
    }
    .contacto-pestaña{
        div.div1c {margin-left: 200px;
            margin-right: 200px;
    }
}

    .archivo-pestaña {
        height: 350vh;
    }

    .seleccion-pestaña .decadas{
        margin-top: 100px;}

        
    .archivo-pestaña{
        height: 250vh;
    }
    }
    @media screen and (max-width:850px){
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 220px 220px 220px 220px 220px 220px;
        grid-template-areas: 
        "alb1 alb2 "
        "alb3 alb4 "
        "alb5 alb6 "
        "alb7 alb8 "
        "alb9 alb10"
        "alb11 alb12 "
        ;
    }
    }
    @media screen and (max-width:760px){

        .pestaña-coleccion .vivos-contenedor h1{
            font-size: 35px;
        }

        .main-nosotros{
        p{
            font-size: nth($font-size, 9);
        }
    }
        footer div {
            margin: 20px
        }
        footer div h2{
            font-size: nth($font-size, 5);        
    
        }
        
        footer div h3 {
            font-size: nth($font-size, 10);
        }
        
        footer div a img{ 
            width: 18px;
            height: 18px;
        }
    }


@media screen and (max-width:740px){

    .lanzamientos-contenedor-grid div a img{
        width: 180px;
        height: 180px;
    }
    .vivos-contenedor div div iframe {
        width: 300px;
        height: 185px;
    }

    .mapa{
        div{
            a{
                img{
                    width: 540px;
                    height: 350px; 
                }
            }
        }
    }

    .contacto-pestaña{
        div.div2c {
        margin-left: 50px;
        margin-right: 50px;
    }
}

.seleccion-pestaña h1{
    font-size: 35px ;
}

.seleccion-pestaña .seleccion-uno .todos-los-tiempos h2{
    text-align: center;
    font-size: nth($font-size, 5);
}

.seleccion-pestaña .seleccion-uno .veinte h2{
    text-align: center;
    font-size: nth($font-size, 5);
}
.seleccion-pestaña .seleccion-uno .veintiuno h2{
    text-align: center;
    font-size: nth($font-size, 5);
}

.seleccion-pestaña .seleccion-uno .veintidos h2{
    text-align: center;
    font-size: nth($font-size, 5);
}

.seleccion-pestaña .seleccion-uno .veintitres h2{
    text-align: center;
    font-size: nth($font-size, 5);
}

.seleccion-pestaña .decadas .dosmildiez h2{
    text-align: center;
    font-size: nth($font-size, 5);
}
.seleccion-pestaña .decadas div h2{
    text-align: center;
    font-size: nth($font-size, 5);
}

}

@media screen and (max-width:665px){
.pestaña-coleccion .lanzamientos-contenedor h2{
        font-size: nth($font-size, 6);
    }
    
    .vivos-contenedor div div iframe {
        width: 250px;
        height: 155px;
    }



.coleccion{
    height: 60vh;
}
.carousel-item img{
    height: 250px;
}
        .seleccion-contenedor-grids{
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 330px 330px;
            grid-template-areas: 
            "div1  div2  div3"
            "div1  div2 div3";
        }
.seleccion{
    .seleccion-items{
        .seleccion-contenedor-grids{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 330px 330px;
            grid-template-areas: 
            "div1 div2"
            "div3 div3";
            div.año{
                a{
                    img{
                        width:170px;
                        height:170px;
                    }
                }
            }
            div.mes{
                a{
                    img{
                        width:170px;
                        height:170px; 
                    }
                }
            }
            div.semana{
                a{
                    img{
                        width:170px;
                        height:170px; 
                    }
                }
            }
        }
    }
}
.parrafo{
    width: 100%;
        height: 30vh;
        background-color: rgba(255, 255, 255, 0.499);
        display: flex;
        align-items: center;
    p{
        font-size: nth($font-size, 8);
        font-weight: 150;
    }
}


.seleccion-pestaña .seleccion-uno{
    grid-template-rows: 220px 220px 220px;
}


        .seleccion-pestaña .seleccion-uno .todos-los-tiempos div a img{
                width: 330px;
                height: 330px;
                
            }


        .seleccion-pestaña .seleccion-uno  .veintitres div a img{
            width: 150px;
            height: 150px;
        }
        
        .seleccion-pestaña .seleccion-uno .veintidos div a img{
            width: 150px;
            height: 150px;
        }
        
        .seleccion-pestaña .seleccion-uno .veintiuno div a img{
            width: 150px;
            height: 150px;
        }
        
        .seleccion-pestaña .seleccion-uno .veinte div a img{
            width: 150px;
            height: 150px;
        }
    
    
            .seleccion-pestaña .decadas .dosmildiez div a img {
            width: 150px;
            height: 150px;
        }
    
        .seleccion-pestaña .decadas .dosmil div a img {
            width: 150px;
            height: 150px;
        }
        .seleccion-pestaña .decadas .noventas div a img {
            width: 150px;
            height: 150px;
        }
        .seleccion-pestaña .decadas .ochentas div a img {
            width: 150px;
            height: 150px;
        }
        .seleccion-pestaña .decadas .setentas div a img {
            width: 150px;
            height: 150px;
        }
        .seleccion-pestaña .decadas .sesentas div a img {
            width: 150px;
            height: 150px;
        }
    

            .seleccion-pestaña .decadas{
                margin-top: 40px;}

                .archivo-pestaña{
                    height: 200vh;
                    }
        }

@media screen and (max-width:620px){

    section .main-nosotros .contacto-links h2{
        font-size: nth($font-size, 9);
        margin-top: 20px;
    }
}
@media screen and (max-width:600px){

    .main-nosotros{
        p{
            font-size: nth($font-size, 10);
        }
    }
    
    .contacto-pestaña{
        div.div1c {
            margin-left: 100px;
            margin-right: 100px;
        }
    }

}
@media screen and (max-width:565px){
    .pestaña-coleccion .vivos-contenedor .vivos-contenedor-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 150px 150px 150px 150px 150px  150px 150px 150px 150px 150px;
        grid-template-areas: 
        "vid1"
        "vid2"
        "vid3"
        "vid4"
        "vid5"
        "vid6"
        "vid7"
        "vid8"
        "vid9"
        "vid10"
        ;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb1 a img{
        height: 180px;
        width: 180px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb2 a img{
        height: 180px;
        width: 180px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb3 a img{
        height: 180px;
        width: 180px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb4 a img{
        height: 180px;
        width: 180px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb1 a img{
        height: 180px;
        width: 180px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb5 a img{
        height: 180px;
        width: 180px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb1 a img{
        height: 180px;
        width: 180px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb6 a img{
        height: 180px;
        width: 180px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb7 a img{
        height: 180px;
        width: 180px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb8 a img{
        height: 180px;
        width: 180px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb9 a img{
        height: 180px;
        width: 180px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb10 a img{
        height: 180px;
        width: 180px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb11 a img{
        height: 180px;
        width: 180px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb12 a img{
        height: 180px;
        width: 180px;
    }


    .mapa{
        height: 50vh;
        div{
            a{
                img{
                    width: 440px;
                    height: 280px; 
                }
            }
        }
    }
    
    .main-nosotros{
        p{
            font-size: nth($font-size, 11);
        }
    }

    .seleccion-pestaña .decadas{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 220px 220px 220px;
        grid-template-areas: 
        "sd1  sd2"
        "sd3  sd4"
        "sd5  sd6"
        ;
    }
    .archivo-pestaña{
        height: 250vh;
        }

        .seleccion-pestaña .seleccion-uno{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 420px 250px 250px;
            grid-template-areas: 
            "s1  s1"
            "s2  s3 "
            "s4  s5 "
            ;
        }

        .archivo-pestaña{
            height: 280vh;
        }
        footer div {
            margin: 5px
        }
}

@media screen and (max-width:510px) {
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb1 a img{
        height: 140px;
        width: 140px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb2 a img{
        height: 140px;
        width: 140px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb3 a img{
        height: 140px;
        width: 140px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb4 a img{
        height: 140px;
        width: 140px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb1 a img{
        height: 140px;
        width: 140px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb5 a img{
        height: 140px;
        width: 140px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb1 a img{
        height: 140px;
        width: 140px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb6 a img{
        height: 140px;
        width: 140px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb7 a img{
        height: 140px;
        width: 140px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb8 a img{
        height: 140px;
        width: 140px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb9 a img{
        height: 140px;
        width: 140px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb10 a img{
        height: 140px;
        width: 140px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb11 a img{
        height: 140px;
        width: 140px;
    }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb12 a img{
        height: 140px;
        width: 140px;
    }


    footer h2{
        font-size: nth($font-size, 6);        

    }
    
    footer h3 {
        font-size: nth($font-size, 12);
    }
    
    footer div a img{ 
        width: 15px;
        height: 15px;
    }
    

    .pestaña-coleccion .vivos-contenedor h1{
        font-size: 30px;
    }
    .seleccion-pestaña h1{
        font-size: 30px;
    }
}



@media screen and (max-width:450px) {

    .hero h1{
        font-size: 70px;
    }

    .hero p{
        font-size: 15px;
    }

    .pestaña-coleccion .lanzamientos-contenedor{
        justify-content: center;
    }

    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 220px 220px 220px 220px 220px 220px 220px 220px 220px 220px 220px 220px;
        grid-template-areas: 
        "alb1"
        "alb2"
        "alb3"
        "alb4"
        "alb5"
        "alb6"
        "alb7"
        "alb8"
        "alb9"
        "alb10"
        "alb11"
        "alb12"
        ;
    }
    .seleccion{
        height:110vh;
        .seleccion-items{
            .seleccion-contenedor-grids{
                div.año{
                    h3{
                        font-size: nth($font-size, 8);
                    }
                    a{
                        img{
                            width: 125px;
                            height: 125px;
                        }
                    }
                }
                div.mes{
                    h3{
                        font-size: nth($font-size, 8);
                    }
                    a{
                        img{
                            width: 125px;
                            height: 125px;
                        }
                    }
                }
                div.semana{
                    h3{
                        font-size: nth($font-size, 8);
                    }
                    a{
                        img{
                            width: 125px;
                            height: 125px;
                        }
                    }
                }
            }
        }
    }

    .mapa{
        div{
            a{
                img{
                    width: 340px;
                    height: 220px; 
                }
            }
        }
    }

    .main-nosotros{
        p{
            font-size: nth($font-size, 12);
        }
    }
    .decadas div div a img {
        width: 140px;
        height: 140px;
    }
}
@media screen and (max-width:360px) {
    footer div h2{
        font-size: 17px;        

    }
    
    footer div h3 {
        font-size: nth($font-size, 13);
    }
    
    footer div a img{ 
        width: 13px;
        height: 13px;
    }
}
