$color-principal: rgb(252, 151, 0);
$color-secundario: rgb(255, 208, 0);
$color-terciario: white;




$font-size:80px,40px,30px,25px,23px,20px,18px,15px,14px,13px,12px,10px,8px;



$texto-parrafo:(
    color-texto: $color-terciario,
    sombra-texto:-4px 3px 7px rgba(0, 0, 0, 1),
);


%display-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
};

%display-flex2{
    display: flex;
    justify-content: center;
};

@mixin texto ($size, $align, $weight){
    font-size: $size;
    text-align: $align;
    font-weight: $weight;
}

