/*---------------------INDEX---------------------*/

.hero{
    width: 100%;
    height: calc(100vh - 86px);
    background-color: rgba(255, 255, 255, 0.308);
    @extend %display-flex;
    h1{
        display: inline-block;
        font-size: nth($font-size, 1);
        font-weight: 200;
        color: rgba(0, 0, 0, 0.89);
        text-shadow: -6px 4px 7px rgba(170, 168, 168, 0.658),-9px 4px 10px rgb(230, 223, 223),-4px 4px 0px rgb(255, 255, 255);
        margin-top: 110px;
    }
    a{
        margin-top: 50px;
        font-size: nth($font-size, 6);
        font-weight: 100;
        padding: 7px;
        border: solid 1px rgba(255, 255, 255, 0.541);
        border-radius: 50%;
        text-decoration: none;
        color:$color-terciario;
        background-color: rgba(0, 0, 0, 0.411);
    }
    p{
        width: 50%;
        @include texto (nth($font-size, 6), center, 250);
        color: map-get($texto-parrafo,color-texto);
        text-shadow: map-get($texto-parrafo, sombra-texto);
        @extend %display-flex2;
        padding-top: 30px;
    }
}

.coleccion{
    background-image: none;
    height: 70vh;
    h2{
        color: $color-principal;
        font-size: nth($font-size, 3);
        font-weight: 100;
        @extend %display-flex2;
    }
}

.seleccion{
    background-color: rgba(255, 255, 255, 0.308);
    width: 100%;
    height:115vh;
    h2{
        @extend %display-flex2;
        color: $color-principal;
        font-size: nth($font-size, 3);
        font-weight: 100;
    }
    .seleccion-items{
        display: flex;
        align-items: center;
        margin-top: 50px;
        width: 100%;
        .seleccion-contenedor-grids{
            width: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr ;
            grid-template-rows: 330px 330px;
            grid-template-areas: 
            "div1  div2 "
            "div1  div3";
            div.a単o{
                @extend %display-flex;
                grid-area: div1;
                h3{
                    color:$color-secundario;
                    font-weight: 50;
                }
                a{
                    img{
                        width:350px;
                        height: 350px;
                    }
                }
            }
            div.mes{
                @extend %display-flex;
                grid-area: div2;
                h3{
                    color: $color-secundario;
                    font-weight: 5
                }
                a{
                    img{
                        width: 200px;
                        height: 200px;
                    }
                }
            }
            div.semana{
                @extend %display-flex;
                grid-area: div3;
                h3{
                    color: $color-secundario;
                    font-weight: 5
                }
                a{
                    img{
                        width: 200px;
                        height: 200px;
                    }
                }
            }
        }
    }
}

.mapa{
    background-image:none;
    width: 100%;
    height: 80vh;
    @extend %display-flex2;
    align-items: center;
    div{
        a{
            img{
                display: flex;
                padding: 30px;
            }
        }
    }
}

.parrafo{
    width: 100%;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.308);
    display: flex;
    align-items: center;
    p{
        @extend %display-flex2;
        @include texto (nth($font-size, 6), center, 200);
        color: map-get($texto-parrafo,color-texto);
        text-shadow: map-get($texto-parrafo, sombra-texto);    }
}

.playlist{
    width: 100%;
    height: 90vh;
    background-image:none;
    h2{
        @extend %display-flex2;
        color: $color-principal;
        font-size: nth($font-size, 3);
        font-weight: 100;
    }
}

/*---------------------COLECCION---------------------*/


.pesta単a-coleccion{
    .vivos-contenedor{
        margin-top: 30px;
        @extend %display-flex;
        justify-content: space-around;
        h1{
            @extend %display-flex2;
            color: $color-principal;
            font-size: nth($font-size, 2);
            font-weight: 150;
        }
        h2{
            @extend %display-flex2;
            color: $color-principal;
            font-size: nth($font-size, 3);
            font-weight: 100;
            margin-top: 30px;
        }
        .vivos-contenedor-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 350px 350px 350px 350px 350px;
            grid-template-areas: 
            "vid1 vid2"
            "vid3 vid4"
            "vid5 vid6"
            "vid7 vid8"
            "vid9 vid10";
            .vid1{
                margin: 10px;
                grid-area: vid1;
            }
            .vid2{
                margin: 10px;
                grid-area: vid2;
            }
            .vid3{
                margin: 10px;
                grid-area: vid3;
            }
            .vid4{
                margin: 10px;
                grid-area: vid4;
            }
            .vid5{
                margin: 10px;
                grid-area: vid5;

            }
            .vid6{
                margin: 10px;
                grid-area: vid6;

            }
            .vid7{
                margin: 10px;
                grid-area: vid7;

            }
            .vid8{
                margin: 10px;
                grid-area: vid8;

            }
            .vid9{
                margin: 10px;
                grid-area: vid9;
            }
            .vid10{
                margin: 10px;
                grid-area: vid10;
            }
        }
    }
    .lanzamientos-contenedor{
        @extend %display-flex;
        justify-content: space-around;
        h2{
            @extend %display-flex2;
            color: $color-principal;
            font-size: nth($font-size, 3);
            font-weight: 100;
            margin-top: 30px;
        }
        .lanzamientos-contenedor-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 350px 350px 350px;
            grid-template-areas: 
            "alb1  alb2   alb3   alb4"
            "alb5  alb6   alb7   alb8"
            "alb9  alb10  alb11  alb12";
            .alb1{
                grid-area: alb1;
                margin: 15px;
                a{
                    img{
                        width: 250px;
                        height: 250px;
                    }
                }
            }
            .alb2{
                grid-area: alb2;
                margin: 15px;
                a{
                    img{
                        width: 250px;
                        height: 250px;
                    }
                }
            }
            .alb3{
                grid-area: alb3;
                margin: 11px;
                margin-top: 13px;
                margin-right: 18px;
                a{
                    img{
                        width: 250px;
                        height: 250px;
                    }
                }
            }
            .alb4{
                grid-area: alb4;
                margin: 15px;
                a{
                    img{
                        width: 250px;
                        height: 250px;
                    }
                }
            }
            .alb5{
                grid-area: alb5;
                margin: 15px;
                a{
                    img{
                        width: 250px;
                        height: 250px;
                    }
                }
            }
            .alb6{
                grid-area: alb6;
                margin: 15px;
                a{
                    img{
                        width: 250px;
                        height: 250px;
                    }
                }
            }
            .alb7{
                grid-area: alb7;
                margin: 15px;
                a{
                    img{
                        width: 250px;
                        height: 250px;
                    }
                }
            }
            .alb8{
                grid-area: alb8;
                margin: 15px;
                a{
                    img{
                        width: 250px;
                        height: 250px;
                    }
                }
            }
            .alb9{
                grid-area: alb9;
                margin: 15px;
                a{
                    img{
                        width: 250px;
                        height: 250px;
                    }
                }
            }
            .alb10{
                grid-area: alb10;
                margin: 15px;
                a{
                    img{
                        width: 250px;
                        height: 250px;
                    }
                }
            }
            .alb11{
                grid-area: alb11;
                margin: 15px;
                a{
                    img{
                        width: 250px;
                        height: 250px;
                    }
                }
            }
            .alb12{
                grid-area: alb12;
                margin: 15px;
                a{
                    img{
                        width: 250px;
                        height: 250px;
                    }
                }
            }
        }
    }
    .playlists-contenedor{
        h2{
            @extend %display-flex2;
            color: $color-principal;
            font-size: nth($font-size, 3);
            font-weight: 100;
            margin-top: 30px;
        }
    }
}


/*---------------------CONTACTO---------------------*/


.contacto-pesta単a{
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "div0c"
    "div1c"
    "div2c"
    "div2c";
    .div0c{
        grid-area: div0c;
        color: $color-principal;
        font-size: nth($font-size, 3);
        font-weight: 100;
        @extend %display-flex;
        margin-top: 50px;
    }
    div.div1c{
        grid-area: div1c;
        margin-left:  400px;
        margin-right: 400px;
    }
    div.div2c{
        grid-area: div2c;
        margin-left:  200px;
        margin-right: 200px;
    }
}

/*---------------------NOSOTROS---------------------*/
section{
    .main-nosotros{
        width: 100%;
        height: 100vh;
        h1{
            @include texto (nth($font-size, 3), center, 100);
            padding-top: 50px;
            color: $color-principal;
        }
        p{
            padding-top: 30px;
            width: 100%;
            height: 40vh;
            text-align: center;
            color: map-get($texto-parrafo,color-texto);
            text-shadow: map-get($texto-parrafo, sombra-texto);
            background-color: rgba(255, 255, 255, 0.04);
        }
        .contacto-links{
            h2{
                color: $color-principal;
                font-size: nth($font-size, 4);
                font-weight: 100;
                margin-top: 10px;
            }
            a{
                text-decoration: none;
                color: $color-terciario;
            }
            h2{
                color: $color-principal;
                font-size: nth($font-size, 4);
                font-weight: 100;
                margin-top: 10px;
            }
            div{
                display: inline-block;
                a{
                    @extend %display-flex;
                    text-decoration: none;
                    color: $color-terciario;
                    margin:10px;
                    img{
                        height: 30px;
                        width: 30px;
                    }
                }
            }
        }
    }
}

/*---------------------SELECCION---------------------*/

.seleccion-pesta単a{
    width: 100%;
    h1{
        @include texto (nth($font-size, 2), center, 150);
        padding-top: 50px;
        color: $color-principal;
    }
    .seleccion-uno{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 350px 350px 350px;
        grid-template-areas: 
        "s1  s1  s3"
        "s1  s1  s4"
        "s2  s2  s5"
        ;
        .todos-los-tiempos{
            grid-area: s1;
            h2{
                @include texto (nth($font-size, 3), center,100);
                color: $color-principal;
                margin-top: 5px;
            }
            div{
                @extend %display-flex2;
                a{
                    img{
                        width: 650px;
                        height: 650px;
                    }
                }
            }
        }
        .veintitres{
            grid-area: s2;
            h2{
                @include texto (nth($font-size, 3), center, 100);
                color: $color-principal;
                margin-top: 5px;
            }
            div{
                @extend %display-flex2;
                a{
                    img{
                        width: 310px;
                        height: 310px;
                    }
                }
            }
        }
        .veintidos{
            grid-area: s3;
            h2{
                @include texto (nth($font-size, 3), center, 100);
                color: $color-principal;
                margin-top: 5px;
            }
            div{
                @extend %display-flex2;
                a{
                    img{
                        width: 310px;
                        height: 310px;
                    }
                }
            }
        }
        .veintiuno{
            grid-area: s4;
            h2{
                @include texto (nth($font-size, 3), center, 100);
                color: $color-principal;
                margin-top: 5px;
            }
            div{
                @extend %display-flex2;
                a{
                    img{
                        width: 310px;
                        height: 310px;
                    }
                }
            }
        }
        .veinte{
            grid-area: s5;
            h2{
                @include texto (nth($font-size, 3), center, 100);
                color: $color-principal;
                margin-top: 5px;
            }
            div{
                @extend %display-flex2;
                a{
                    img{
                        width: 310px;
                        height: 310px;
                    }
                }
            }
        }
    }
    .decadas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 360px 360px;
        grid-template-areas: 
        "sd1  sd2  sd3"
        "sd4  sd5  sd6";
        margin-top: 200px;
        ;
        .dosmildiez{
            margin-top: 5px;
            grid-area: sd1;
            h2{
                @include texto (nth($font-size, 3), center, 100);
                color: $color-principal;
                margin-top: 5px;
            }
                div{
                    display: flex;
                    justify-content: center;
                    a{
                        img{
                            text-align: center;
                            width: 310px;
                            height: 310px;
                        }
                    }
                }
            }
        }
        .dosmil{
            margin-top: 5px;
            grid-area: sd2;
            h2{
                @include texto (nth($font-size, 3), center, 100);
                color: $color-principal;
                margin-top: 5px;
            }
            div{
                display: flex;
                justify-content: center;
                a{
                    img{
                        width: 310px;
                        height: 310px;
                    }
                }
            }
        }
        .noventas{
            margin-top: 5px;
            grid-area: sd3;
            h2{
                @include texto (nth($font-size, 3), center, 100);
                color: $color-principal;
                margin-top: 5px;
            }
            div{
                display: flex;
                justify-content: center;
                a{
                    img{
                        width: 310px;
                        height: 310px;
                    }
                }
            }
        }
        .ochentas{
            margin-top: 5px;
            grid-area: sd4;
            h2{
                @include texto (nth($font-size, 3), center, 100);
                color: $color-principal;
                margin-top: 5px;
            }
            div{
                display: flex;
                justify-content: center;
                a{
                    img{
                        width: 310px;
                        height: 310px;
                    }
                }
            }
        }
        .setentas{
            margin-top: 5px;
            grid-area: sd5;
            h2{
                @include texto (nth($font-size, 3), center, 100);
                color: $color-principal;
                margin-top: 5px;
            }
            div{
                display: flex;
                justify-content: center;
                a{
                    img{
                        width: 310px;
                        height: 310px;
                    }
                }
            }
        }
        .sesentas{
            margin-top: 5px;
            grid-area: sd6;
            h2{
                @include texto (nth($font-size, 3), center, 100);
                color: $color-principal;
                margin-top: 5px;
            }
            div{
                display: flex;
                justify-content: center;
                a{
                    img{
                        width: 310px;
                        height: 310px;
                    }
                }
            }
        }
    }
